In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint

vaccinations_df = pd.read_csv('Resources/country_vaccinations.csv')
vaccinations_df.head(20)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Algeria,DZA,1/29/2021,0.0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,Sputnik V,Ministry of Health,https://www.aps.dz/regions/116777-blida-covid-...
1,Algeria,DZA,1/30/2021,30.0,NaN,NaN,30.0,30.0,0.00,NaN,NaN,1.0,Sputnik V,Ministry of Health,https://www.aps.dz/regions/116777-blida-covid-...
2,Andorra,AND,1/25/2021,576.0,576.0,NaN,NaN,NaN,0.75,0.75,NaN,NaN,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
3,Andorra,AND,1/26/2021,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,854.0,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
4,Andorra,AND,1/27/2021,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,854.0,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
5,Andorra,AND,1/28/2021,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,854.0,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
6,Andorra,AND,1/29/2021,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,854.0,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
7,Andorra,AND,1/30/2021,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,854.0,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
8,Andorra,AND,1/31/2021,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,854.0,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
9,Andorra,AND,2/1/2021,1036.0,1036.0,NaN,NaN,66.0,1.34,1.34,NaN,854.0,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
10,Argentina,ARG,12/29/2020,700.0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
11,Argentina,ARG,12/30/2020,NaN,NaN,NaN,NaN,15656.0,NaN,NaN,NaN,346.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
12,Argentina,ARG,12/31/2020,32013.0,NaN,NaN,NaN,15656.0,0.07,NaN,NaN,346.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
13,Argentina,ARG,1/1/2021,NaN,NaN,NaN,NaN,11070.0,NaN,NaN,NaN,245.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
14,Argentina,ARG,1/2/2021,NaN,NaN,NaN,NaN,8776.0,NaN,NaN,NaN,194.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
15,Argentina,ARG,1/3/2021,NaN,NaN,NaN,NaN,7400.0,NaN,NaN,NaN,164.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
16,Argentina,ARG,1/4/2021,39599.0,NaN,NaN,NaN,6483.0,0.09,NaN,NaN,143.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
17,Argentina,ARG,1/5/2021,NaN,NaN,NaN,NaN,7984.0,NaN,NaN,NaN,177.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
18,Argentina,ARG,1/6/2021,NaN,NaN,NaN,NaN,8173.0,NaN,NaN,NaN,181.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
19,Argentina,ARG,1/7/2021,NaN,NaN,NaN,NaN,8363.0,NaN,NaN,NaN,185.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...

In [2]:
# identify csv
owid_data_df = pd.read_csv('Resources/owid-covid-data.csv')
owid_data_df.head(20)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2/27/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2/28/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
5,AFG,Asia,Afghanistan,2/29/2020,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
6,AFG,Asia,Afghanistan,3/1/2020,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
7,AFG,Asia,Afghanistan,3/2/2020,1.0,0.0,0.000,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
8,AFG,Asia,Afghanistan,3/3/2020,2.0,1.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
9,AFG,Asia,Afghanistan,3/4/2020,4.0,2.0,0.429,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
10,AFG,Asia,Afghanistan,3/5/2020,4.0,0.0,0.429,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
11,AFG,Asia,Afghanistan,3/6/2020,4.0,0.0,0.429,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
12,AFG,Asia,Afghanistan,3/7/2020,4.0,0.0,0.429,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
13,AFG,Asia,Afghanistan,3/8/2020,5.0,1.0,0.571,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
14,AFG,Asia,Afghanistan,3/9/2020,7.0,2.0,0.857,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
15,AFG,Asia,Afghanistan,3/10/2020,8.0,1.0,0.857,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
16,AFG,Asia,Afghanistan,3/11/2020,11.0,3.0,1.000,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
17,AFG,Asia,Afghanistan,3/12/2020,12.0,1.0,1.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
18,AFG,Asia,Afghanistan,3/13/2020,13.0,1.0,1.286,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
19,AFG,Asia,Afghanistan,3/14/2020,15.0,2.0,1.571,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [3]:
# Merge two dataframes using an left outer join
merge_df = pd.merge(vaccinations_df, owid_data_df, on=["iso_code","date"], how='left')
merge_df.head()

,country,iso_code,date,total_vaccinations_x,people_vaccinated_x,people_fully_vaccinated_x,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred_x,people_vaccinated_per_hundred_x,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Algeria,DZA,1/29/2021,0.0,NaN,NaN,NaN,NaN,0.00,NaN,...,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.9,76.88,0.754
1,Algeria,DZA,1/30/2021,30.0,NaN,NaN,30.0,30.0,0.00,NaN,...,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.9,76.88,0.754
2,Andorra,AND,1/25/2021,576.0,576.0,NaN,NaN,NaN,0.75,0.75,...,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.858
3,Andorra,AND,1/26/2021,NaN,NaN,NaN,NaN,66.0,NaN,NaN,...,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.858
4,Andorra,AND,1/27/2021,NaN,NaN,NaN,NaN,66.0,NaN,NaN,...,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.858

In [4]:
# look at columns to id which ones to delete
merge_df.columns

Index(['country', 'iso_code', 'date', 'total_vaccinations_x',
       'people_vaccinated_x', 'people_fully_vaccinated_x',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred_x', 'people_vaccinated_per_hundred_x',
       'people_fully_vaccinated_per_hundred_x',
       'daily_vaccinations_per_million', 'vaccines', 'source_name',
       'source_website', 'continent', 'location', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units',
       'total_vaccinations_y', 'people_vaccinated_y',
       'people_fully_vaccinated_y', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred_y',
       'people_vaccinated_per_hundred_y',
       'people_fully_vaccinated_per_hundred_y',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [5]:
merge_df.to_csv(path_or_buf="resources/merged_covid.csv", index=False)

In [6]:
merged_df_no_iso_code = merge_df.dropna(subset = ["iso_code"])
merged_df_no_iso_code.head()
#df.dropna(subset = ['column1_name', 'column2_name', 'column3_name'

,country,iso_code,date,total_vaccinations_x,people_vaccinated_x,people_fully_vaccinated_x,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred_x,people_vaccinated_per_hundred_x,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Algeria,DZA,1/29/2021,0.0,NaN,NaN,NaN,NaN,0.00,NaN,...,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.9,76.88,0.754
1,Algeria,DZA,1/30/2021,30.0,NaN,NaN,30.0,30.0,0.00,NaN,...,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.9,76.88,0.754
2,Andorra,AND,1/25/2021,576.0,576.0,NaN,NaN,NaN,0.75,0.75,...,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.858
3,Andorra,AND,1/26/2021,NaN,NaN,NaN,NaN,66.0,NaN,NaN,...,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.858
4,Andorra,AND,1/27/2021,NaN,NaN,NaN,NaN,66.0,NaN,NaN,...,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.858

In [8]:
merged_df_no_iso_code.to_csv(path_or_buf="resources/merged_df_no_iso_code.csv", index=False)

In [9]:
# Reorganizing the columns using double brackets
organized_df = merged_df_no_iso_code[['country', 'iso_code', 'date', 'daily_vaccinations', 'new_cases_smoothed']]

organized_df.head()

   country iso_code       date  daily_vaccinations  new_cases_smoothed
0  Algeria      DZA  1/29/2021                 NaN             251.857
1  Algeria      DZA  1/30/2021                30.0             250.429
2  Andorra      AND  1/25/2021                 NaN              73.286
3  Andorra      AND  1/26/2021                66.0              63.429
4  Andorra      AND  1/27/2021                66.0              58.286

In [10]:
countries_df = organized_df.groupby(['country']).sum('daily_vaccinations')
countries_df.head(73)

                      daily_vaccinations  new_cases_smoothed
country
Algeria                             30.0             502.286
Andorra                            462.0             476.573
Argentina                       403907.0          355841.999
Austria                         204947.0           42064.430
Bahrain                         151888.0           13016.572
...                                  ...                 ...
Switzerland                     263938.0          113137.569
Turkey                         2774851.0          162142.999
United Arab Emirates           2549317.0           93769.286
United Kingdom                 8771153.0         1874394.284
United States                 30369934.0         9117481.143

[73 rows x 2 columns]

In [11]:
population = merged_df_no_iso_code[['country','iso_code','population','population_density' ]]
population_df= pd.DataFrame(population)
population_groupby_df = population_df.groupby(['country'])
population_df.head()

population_var = population_groupby_df['population'].first()
population_density_var = population_groupby_df['population_density'].first()
pop = {'Population': population_var, 'Population Density': population_density_var}

pop_df = pd.DataFrame(pop)

pop_df

                       Population  Population Density
country
Algeria                43851043.0              17.348
Andorra                   77265.0             163.755
Argentina              45195777.0              16.177
Austria                 9006400.0             106.749
Bahrain                 1701583.0            1935.907
...                           ...                 ...
Switzerland             8654618.0             214.243
Turkey                 84339067.0             104.914
United Arab Emirates    9890400.0             112.442
United Kingdom         67886004.0             272.898
United States         331002647.0              35.608

[73 rows x 2 columns]

In [12]:
country_vac_pop_cases_merge_df = pd.merge(pop_df, countries_df, on=['country'], how='outer')
country_vac_pop_cases_merge_df

,Population,Population Density,daily_vaccinations,new_cases_smoothed
country,,,,
Algeria,43851043.0,17.348,30.0,502.286
Andorra,77265.0,163.755,462.0,476.573
Argentina,45195777.0,16.177,403907.0,355841.999
Austria,9006400.0,106.749,204947.0,42064.430
Bahrain,1701583.0,1935.907,151888.0,13016.572
...,...,...,...,...
Switzerland,8654618.0,214.243,263938.0,113137.569
Turkey,84339067.0,104.914,2774851.0,162142.999
United Arab Emirates,9890400.0,112.442,2549317.0,93769.286
United Kingdom,67886004.0,272.898,8771153.0,1874394.284
United States,331002647.0,35.608,30369934.0,9117481.143

In [13]:
bins = [0, 4000000, 18000000, 1500000000]
group_names = ["small", "medium", "large"]




country_vac_pop_cases_merge_df["Population"] = pd.to_numeric(country_vac_pop_cases_merge_df["Population"], errors = 'coerce')
country_vac_pop_cases_merge_df['Population Density'] = pd.to_numeric(country_vac_pop_cases_merge_df['Population Density'])
country_vac_pop_cases_merge_df['daily_vaccinations'] = pd.to_numeric(country_vac_pop_cases_merge_df['daily_vaccinations'])
country_vac_pop_cases_merge_df['new_cases_smoothed'] = pd.to_numeric(country_vac_pop_cases_merge_df['new_cases_smoothed'])
country_vac_pop_cases_merge_df['Country Population'] = pd.cut(country_vac_pop_cases_merge_df['Population'], bins = bins, labels = group_names)
Vac_cases_by_population = [['country', 'Population', 'Country Population']]



Vac_cases_by_population_bins = country_vac_pop_cases_merge_df.groupby('Country Population').count()


Vac_cases_by_population_bins

,Population,Population Density,daily_vaccinations,new_cases_smoothed
Country Population,,,,
small,13,13,13,13
medium,25,25,25,25
large,26,26,26,26